name: Firmware
run-name: Home Station pipelines for building firmware
on:
  push:
    branches:
      - main
jobs:
  build_firmware:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -yq build-essential cmake gcc-arm-none-eabi git ninja-build openocd
      - name: Get third-party dependencies
        run: |
          git submodule update --init --recursive
      - name: Build firmware
        run: |
          cmake --preset debug
          cmake --build --preset debug
      - name: Archive linker map file
        uses: actions/upload-artifact@v4
        with:
          name: linker-map-file
          path: ${{ github.workspace }}/build/output.map
